html
	head
		meta(content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes", name="viewport")
		meta(content="yes", name="apple-mobile-web-app-capable")
		meta(content="black", name="apple-mobile-web-app-status-bar-style")
		meta(content="telephone=no", name="format-detection")
		meta(name="renderer", content="webkit")
		meta(name="keywords", content=site.configs.keywords.escaped)
		meta(name="description", content=site.raw_content.escaped)


		link(rel="apple-touch-icon", sizes="57x57", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="60x60", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="72x72", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="76x76", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="114x114", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="120x120", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="144x144", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="152x152", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/apple-touch-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/apple-touch-icon-180x180.png")
		link(rel="icon", type="image/png", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/favicon-32x32.png", sizes="32x32")
		link(rel="icon", type="image/png", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/favicon-194x194.png", sizes="194x194")
		link(rel="icon", type="image/png", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/favicon-96x96.png", sizes="96x96")
		link(rel="icon", type="image/png", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/android-chrome-192x192.png", sizes="192x192")
		link(rel="icon", type="image/png", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/favicon-16x16.png", sizes="16x16")
		link(rel="manifest", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/manifest.json")
		link(rel="mask-icon", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/safari-pinned-tab.svg", color="#58b798")
		link(rel="shortcut icon", href="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/favicon.ico")
		meta(name="msapplication-TileColor", content="#58b798")
		meta(name="msapplication-TileImage", content="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/mstile-144x144.png")
		meta(name="msapplication-config", content="http://7xib7m.com1.z0.glb.clouddn.com/img/webassets/images/favicons/browserconfig.xml")
		meta(name="theme-color", content="#58b798")


		block title
			title= request.args.s or post.title or tags.join('+') or category.title or site.title
		load('/template/css/reset.css /template/css/fonts.css /template/css/style.scss')

	body
		main#body_wrapper
			block header
			#main
				block content
			block footer

		load("/template/js/jquery2-latest.js")
		if request.url_without_host == "/works"
			load('/template/frameworks/fancybox/jquery.fancybox.js /template/frameworks/fancybox/jquery.fancybox.css /template/frameworks/fancybox/jquery.mousewheel-3.0.6.pack.js')
		load("/template/js/functions.coffee")

		.statistic
			script.
				var _hmt = _hmt || [];
				(function() {
					var hm = document.createElement("script");
					hm.src = "//hm.baidu.com/hm.js?f66976b2436b48283da56955e296d2e7";
					var s = document.getElementsByTagName("script")[0]; 
					s.parentNode.insertBefore(hm, s);
				})();

