extends base
block title
	title= post.title + " - " + site.title

block header
	include include/header
block footer
	include include/footer
block content
	.post_wrap
		include include/posts_detail
		include include/comments
