header.header.clearfix
	.menu
		a.icon-icon_menu(href="javascript:;")
	.search
		input(type="text", data-role="none")
		a.icon-icon_search(href="javascript:;")
	h1.title
		a(href='/') 落木萧瑟
	.menu_wrapper
		nav.categories
			li
				a(href="/category/生活")
					span.icon-cat_life
					|生活
			li
				a(href="/category/分享")
					span.icon-cat_share
					|分享
			li
				a(href="/category/照片")
					span.icon-cat_photo
					|照片
		nav.nav
			li
				a(href="/categories") 日志分类
			li
				a(href="/about") About
	.intro
		p.text
			|一个人的胡言乱语
	.follow
		.social
			a.weibo(href="http://weibo.com/121601005", target="_blank") 微博
			a.twitter(href="https://twitter.com/xwy_xenon", target="_blank") Twitter
			a.pinterest(href="https://www.pinterest.com/xwyx/", target="_blank") Pinterest
	.down
		a.icon-arrow2_down(href="#content")
